@use 'styles/global.scss';

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 21px 0;
    .space {
        flex: 1;
    }
}
.pageListItem {
    font-size: 18px;
    color: global.$secondary-color;
}

.pcView {
    @include global.pcView;
}
.tabletView {
    @include global.tabletView;
}

.mb14 {
    margin-bottom: 14px;
}

@media (max-width: global.$tablet) {
    .header {
        width: 95%;
    }
}