@use 'styles/global.scss';

.projectPageContainer {
    font-family: 'Oswald';
    top: 0;
    left: 0;
    width: 100%;

    // position: absolute;

    // hack - to apply background throughout the page
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #F2F2F2;

    z-index: -1;
}

.dropdownContainer {
    display: block;
    position: relative;
    margin: 0 5% 10vh 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    .space {
        flex: 1;
    }
    
    .buttonWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 16vw;
        margin: 0 1%;
        position: relative;

        .button {
            width: 100%;
            font-family: 'Oswald';
            font-size: 16px;
            border: 0;
            background: global.$primary-color;
            min-height: 7vh;
            padding: 6px 20px;
            position: relative;
            text-align: left;
            color: white;
        
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

@media (max-width: global.$mobile) {
    .dropdownContainer {
        margin: 5vh 5% 5vh 5%;
    }

    .galleryContainer {
        min-height: 40vh;
        padding: 2% 0 15% 0;

        .imageContainer {
            width: 80%;
        }

        .projectsCardContainer {
            width: 100%;
            margin-top: 25%;
        }
    }
}