@use 'styles/global.scss';

.layout {
    margin: -8px;
    // background: url('/aesop.jpeg') no-repeat center center fixed;
    // object-fit: cover;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}

.backgroundImage {
    object-fit: cover;
    z-index: -2;
}