@use 'styles/global.scss';

.sectionContainer {
    display: block;
    position: relative;
    margin: 18vh 5% 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1% 20% 3%;
    align-self: center;

    .tagsWhite {
        text-align: center;
        background-color: white;
        margin: 0 5px;
        padding: 1.5% 4%;
        font-size: 16px;
    }
}

.carouselContainer {
    position: relative;
    min-height: 70vh;
    object-fit: cover;
    width: 100%;
    top: 8%;
    margin-bottom: 40px;

    z-index: 2;

    .carouselImage {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }

    .carouselButtons {
        position: absolute;
        top: 0;
        margin-top: 25%;
        background-color: global.$primary-color;
        padding: 2%;
        color: white;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .absLeft {
        left: 0;
    }

    .absRight {
        right: 0;
    }


}

.captionContainer {
    margin: 2% 25%;
    text-align: center;
    color: #4F6584;
    word-spacing: 0.5px;
}

.prjDetailImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 15%;

    .image {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}

.galleryContainer {
    .projectsCardContainer {
        top: 18%;
        .card {
            position: relative;
            background-color: white;
            width: 55%;
            height: 25vh;
            padding: 8% 13% 2%;
            left: 10%;
            letter-spacing: 0.5px;
            color: #4F6584;
        }
    }
}

@media (max-width: global.$tablet) {
    .carouselContainer {
        min-height: 380px;
    }

    .captionContainer {
        font-size: 14px;
    }
}

@media (max-width: global.$mobile) {

    .tagsContainer {
        .tagsWhite {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            min-height: 40px;
            font-size: 11px;
        }
    }

    .carouselContainer {
        min-height: 200px;
        margin-bottom: 20px;
    }

    .galleryContainer {
        min-height: 40vh;
        margin: 3vh 0 3vh 0;
        .projectsCardContainer {
            .card {
                font-size: 12px;
            }
        }
    }
}