@use 'styles/global.scss';

.sectionContainer {
    display: block;
    position: relative;
    margin: 18vh 5% 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1% 20% 3%;
    align-self: center;

    .tagsWhite {
        text-align: center;
        background-color: white;
        margin: 0 5px;
        padding: 1.5% 4%;
        font-size: 16px;
    }
}

.carouselContainer {
    // position: relative;
    background: global.$background-color;
    min-height: calc(100vh);
    position: absolute;
    object-fit: contain;
    width: 100%;
    top: 0;
    // top: 8%;
    // margin-bottom: 40px;

    z-index: 2;

    .carouselImage {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: calc(90vh) !important;
        // height: unset !important;
    }

    .carouselButtons {
        position: absolute;
        top: 45%;
        // margin-top: 25%;
        background-color: global.$primary-color;
        padding: 2%;
        color: white;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .absLeft {
        left: 0;
    }

    .absRight {
        right: 0;
    }


}

.captionContainer {
    margin: 2% 25%;
    text-align: center;
    color: #4F6584;
    word-spacing: 0.5px;
}

.prjDetailImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 15%;

    .image {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}

.galleryContainer {
    .projectsCardContainer {
        top: 18%;
        .card {
            position: relative;
            background-color: white;
            width: 55%;
            height: 25vh;
            padding: 8% 13% 2%;
            left: 10%;
            letter-spacing: 0.5px;
            color: #4F6584;
        }
    }
}

.projectsCardContainer {
    z-index: 3;
    position: absolute;
    top: 60%;
    left: 30%;
    width: 550px;
}

.footerButtonContainer {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 45%;
    padding: 0;
}

@media (max-width: global.$tablet) {
    .carouselContainer {
        min-height: 380px;
    }

    .captionContainer {
        font-size: 14px;
    }

    .projectsCardContainer {
        z-index: 3;
        position: absolute;
        top: 60%;
        left: 15%;
        width: calc(65vw);
    }
}

@media (max-width: global.$mobile) {

    .tagsContainer {
        .tagsWhite {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            min-height: 40px;
            font-size: 11px;
        }
    }

    .carouselContainer {
        min-height: 200px;
        margin-bottom: 20px;
    }

    .galleryContainer {
        min-height: 40vh;
        margin: 3vh 0 3vh 0;
        .projectsCardContainer {
            .card {
                font-size: 12px;
            }
        }
    }

    .projectsCardContainer {
        top: 80%;
        left: 15%;
        width: calc(70vw);
    }
}