@use 'styles/global.scss';

$paragraph-text-color: #4F6584;

.aboutPageMainContainer {
    background-color: lightgray;
}

.heroSectionContainer {
    height: 100vh;
    width: 100%;

    .heroTitle {
        position: absolute;
        text-align: center;
        font-size: 60px;
        font-weight: 200;
        left: 15%;
        bottom: 25%;
        color: white;
    }

    .heroImage {
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    .heroDescriptonContainer {
        position: absolute;
        background-color: global.$primary-color;
        font-weight: 300;
        right: 15%;
        bottom: 15%;
        padding: 0 1rem;
        width: 30%;
        height: 15%;
        color: white;
        letter-spacing: 0.5px;

        .heroDescriptionText {
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            margin-top: -2%;
        }
    }
}

.confidentContainer {
    position: relative; // required so it does not overlap with hero section
    height: 55vh;
    margin-bottom: 15vh;

    .confidentHeader {
        position: absolute;
        top: -5%;
        left: 50%;
        z-index: 3;
    }

    .confidentDiv {
        background-color: white;
        position: absolute;
        top: 20%;
        left: 0;
        padding: 7% 15%;

        font-weight: 300;
        font-size: 20px;
        color: $paragraph-text-color;
        text-align: end;

        width: 30%;
        height: 40%;
    }

    .confidentImageContainer {
        position: absolute;
        top: 8%;
        right: 0;
        object-fit: cover;
        width: 50%;

        z-index: 2;

        .confidentImage {
            object-fit: cover;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}

.realWorkContainer {
    
    position: relative;
    height: 80vh;
    margin-bottom: 20vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .realWorkHeader {
        font-weight: 200;
    }

    .realWorkImageContainer {
        position: static;
        width: 75%;
        height: auto;

        .realWorkImage {
            object-fit: cover;
        }
    }
}

.pragmaticContainer {

    position: relative;
    height: 55vh;
    margin-top: 15vh;
    margin-bottom: 15vh;

    .pragmaticHeader {
        position: absolute;
        z-index: 4;

        top: -20%;
        left: 35%;

        font-size: 55px;
    }
    .pragmaticDiv {
        position: absolute;
        background-color: white;
        top: 20%;
        right: 0;

        width: 65%;
        height: 75%;

        z-index: 2;
    }
    .pragmaticImage {
        position: absolute;
        left: 0;
        z-index: 3;

        width: 650px;
        height: auto;
    }
}

.locationContainer {
    height: 90vh;
    margin-top: 8vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .locationMapContainer {
        width: 100%;
        height: 75vh;
    }
}

@media (max-width: global.$mobile) {

    .heroSectionContainer {
        .heroTitle {
            font-size: 28px;
            left: 2%;
            bottom: 22%;
        }
    
        .heroDescriptonContainer {
            bottom: 8%;
            right: 0;
            width: 60%;
        }
    }

    .confidentContainer {
        height: 100vh;

        .confidentDiv {
            z-index: 4;
            top: 50%;
            width: 60%;
        }
    }
}