@use 'styles/global.scss';

$paragraph-text-color: #4F6584;

.aboutPageMainContainer {
    background-color: global.$background-color;
}

.heroSectionContainer {
    height: 100vh;
    width: 100%;

    .heroTitle {
        position: absolute;
        text-align: center;
        font-size: 60px;
        font-weight: 200;
        left: 15%;
        bottom: 25%;
        color: white;
    }

    .heroImage {
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    .heroDescriptonContainer {
        position: absolute;
        background-color: global.$primary-color;
        font-weight: 300;
        right: 15%;
        bottom: 15%;
        padding: 0 1rem;
        width: 30%;
        height: 15%;
        color: white;
        letter-spacing: 0.5px;

        .heroDescriptionText {
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            margin-top: -2%;
        }
    }
}

.confidentContainer {
    position: relative; // required so it does not overlap with hero section
    margin-top: 5vh;
    height: 55vh;
    margin-bottom: 10vh;

    .confidentHeader {
        position: absolute;
        top: -12%;
        left: 55%;
        z-index: 3;

        font-size: 50px;
        font-weight: 400;

    }

    .confidentDiv {
        background-color: white;
        position: absolute;
        top: 20%;
        left: 0;
        padding: 7% 15%;

        font-weight: 300;
        font-size: 20px;
        color: $paragraph-text-color;
        text-align: end;

        width: 30%;
        height: 40%;
    }

    .confidentImageContainer {
        position: absolute;
        top: 8%;
        right: 0;
        object-fit: cover;
        width: 50%;

        z-index: 2;

        .confidentImage {
            object-fit: cover;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}

.realWorkContainer {
    
    position: relative;
    height: 85vh;
    margin-bottom: 5vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .realWorkHeader {
        font-weight: 200;
    }

    .realWorkImageContainer {
        width: 70%;

        .realWorkImage {
            object-fit: cover;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}

.pragmaticContainer {

    position: relative;
    height: 55vh;
    margin-top: 15vh;
    margin-bottom: -15vh;

    .pragmaticHeader {
        position: absolute;
        z-index: 4;

        top: -20%;
        left: 30%;

        font-size: 50px;
        font-weight: 400;
    }

    .pragmaticDiv {
        position: absolute;
        background-color: white;
        top: 20%;
        right: 0;
        padding: 7% 15%;

        font-weight: 300;
        font-size: 20px;
        color: $paragraph-text-color;
        text-align: start;

        width: 30%;
        height: 40%;

        z-index: 2;
    }

    .pragmaticImageContainer {
        position: absolute;
        left: 0;
        z-index: 3;

        width: 50%;
    }

    .pragmaticImage {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}

.locationContainer {
    height: 90vh;
    margin-top: 30vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .locationHeader {
        font-weight: 200;
    }

    .locationMapContainer {
        width: 100%;
        height: 75vh;
    }
}

@media (max-width: global.$mobile) {

    .heroSectionContainer {
        .heroTitle {
            font-size: 24px;
            left: 2%;
            bottom: 22%;
        }
    
        .heroDescriptonContainer {
            bottom: 13%;
            right: 0;
            width: 60%;
            height: 10%;
            font-size: 11px;

            .heroDescriptionText {
                margin-top: -4%;
            }
        }
    }

    .confidentContainer {
        height: 30vh;
        margin-bottom: 0;

        .confidentHeader {
            font-size: 25px;
            top: -10%;
        }

        .confidentDiv {
            top: 50%;
            width: 45%;
            height: 45%;

            top: 10%;
            font-size: 10px;
            padding: 3% 10% 0 3%;
        }

        .confidentImageContainer {
            width: 50%;
        }
    }

    .realWorkContainer {
        height: 30vh;

        .realWorkHeader {
            font-size: 25px;
        }
    }

    .pragmaticContainer {
        height: 30vh;

        .pragmaticHeader {
            font-size: 25px;
            left: 18%;
            top: -18%;
        }

        .pragmaticDiv {
            top: 50%;
            width: 45%;
            height: 50%;

            top: 10%;
            font-size: 10px;
            padding: 3% 0 0 10%;
        }
    }

    .locationContainer {
        margin-top: 10vh;
    }
}