@use 'styles/global.scss';

.aboutPageMainContainer {
    background-color: lightgray;
}

.heroSectionContainer {
    height: 100vh;
    width: 100%;

    .heroTitle {
        position: absolute;
        text-align: center;
        font-size: 40px;
        left: 5%;
        bottom: 5em;
        color: white;
    }

    .heroImage {
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    .heroDescriptonContainer {
        position: absolute;
        background-color: blue;
        right: 8%;
        bottom: 15%;
        padding: 0 1rem;
        width: 40%;
        height: 15%;

        .heroDescriptionText {
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            margin-top: -2%;
        }
    }
}

.confidentContainer {
    position: relative;
    height: 55vh;

    .confidentHeader {
        position: absolute;
        top: -5%;
        left: 50%;
        z-index: 3;
    }

    .confidentDiv {
        background-color: white;
        position: absolute;
        top: 25%;
        left: 0;

        width: 65%;
        height: 75%;
    }

    .confidentImage {
        position: absolute;
        top: 8%;
        right: 0;
        object-fit: cover;
        height: 380px;
        width: auto;
        z-index: 2;
    }
}

.realWorkContainer {
    height: 75vh;
    text-align: center;
    align-items: center;
}

.pragmaticContainer {

    height: 70vh;
    margin-bottom: 10vh;

    .pragmaticHeader {
        position: absolute;
    }
    .pragamticDiv {
        position: absolute;
    }
    .pragmaticImage {
        position: absolute;
    }
}

.locationContainer {
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .locationMapContainer {
        width: 100%;
        height: 75vh;
    }
}

@media (max-width: global.$mobile) {

    .heroSectionContainer {
        .heroTitle {
            font-size: 28px;
            left: 2%;
            bottom: 22%;
        }
    
        .heroDescriptonContainer {
            bottom: 8%;
            right: 0;
            width: 60%;
        }
    }

    .confidentContainer {
        height: 100vh;

        .confidentDiv {
            z-index: 4;
            top: 50%;
            width: 60%;
        }
    }
}