@use 'styles/global.scss';

.galleryImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: block;
}

.galleryImage {
    object-fit: cover;
    z-index: -1;
}

.galleryCardTitle {
    font-size: 25px;
    margin-top: -20px;
}

.galleryCardContainer {
    background-color: red;
    position: absolute;
    height: 8rem;
    width: 35rem;
    bottom: 4rem;
    left: 3rem;
    z-index: 2;
}