@use 'styles/global.scss';

.galleryImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: block;
}

.galleryImage {
    object-fit: cover;
    z-index: -1;
    transition: opacity 0.5s linear;
    animation-name: imageFadeAnimation;
    animation-duration: 4s;
}

@keyframes imageFadeAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.galleryCardTitle {
    font-size: 25px;
    margin-bottom: -0.6rem;
}

.galleryCardContainer {
    position: absolute;
    bottom: 4rem;
    left: 5rem;
    z-index: 2;
}

.galleryCardDescriptionContainer {
    background-color: red;
    height: 5rem;
    width: 35rem;
    padding: 0.5rem;
    margin-bottom: 1rem;

    .space {
        flex: 1;
    }

    .galleryDescriptionViewButton {
        margin-left: -25px;
        position: absolute;
        right: -1.5rem;
        bottom: 2.35rem;
        height: 1.8rem;
        width: 4.5rem;

        border: none;

        cursor: pointer;
    }
}

.galleryScrollContainer {
    display: flex;

    .space {
        flex: 1;
    }
}