@use 'styles/global.scss';


.homeContainer {
    font-family: 'Oswald';
}

.galleryImageContainer {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: block;
}

.galleryImage {
    object-fit: cover;
    z-index: -1;
    transition: opacity 0.5s linear;
    animation-name: imageFadeAnimation;
    animation-duration: 2.5s;
}

@keyframes imageFadeAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.galleryCardTitle {
    position: absolute;
    bottom: 85%;
    left: 5%;
    font-size: 60px;
    font-weight: 200;
    color: white;
    margin-bottom: -0.6rem;
}

.galleryCardContainer {
    position: absolute;
    bottom: 10%;
    left: 8%;
    z-index: 2;
    width: 65%;
    height: 20%;
}

.galleryCardDescriptionContainer {
    background-color: global.$primary-color;
    color: white;
    font-weight: 300;
    height: 35%;
    width: 60%;
    padding: 2% 8% 5% 5%;
    margin-bottom: 1rem;

    .space {
        flex: 1;
    }

    .galleryCardDescriptionText {
        margin-top: 0;
        letter-spacing: 0.5px;
        line-height: 2rem;
    }

    .galleryDescriptionViewButton {
        position: absolute;
        top: 0;
        margin-left: 60%;
        margin-top: 8%;
        height: 45px;
        width: 105px;
        color: global.$primary-color;
        background-color: white;

        // button hover effect
        box-shadow: inset 0 0 0 0 global.$primary-color;
        transition: ease-out 0.3s;

        display: flex;
        align-items: center;
        justify-content: center;

        border: none;

        cursor: pointer;

        &:hover {
            box-shadow: inset 105px 0 0 0 #656565;
            color: white;
        }
    }
}

.galleryScrollContainer {
    width: 70%;
    display: flex;

    .space {
        flex: 1;
    }

    .galleryScrollButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        color: lightgray;
        cursor: pointer;

        .arrowLeft {
            margin-right: 15px;
        }

        .arrowRight {
            margin-left: 15px;
        }
    }
}

@media (max-width: global.$tablet) { 

    .galleryCardTitle {
        font-size: 35px;
        bottom: 95%;
    }

    .galleryCardContainer {
        height: 20%;
        width: 90%;
    }

    .galleryCardDescriptionContainer {
        width: 65%;
        height: 45%;

        padding: 5% 8% 5% 5%;

        .galleryCardDescriptionText {
            font-size: 14px;
            line-height: 1.2rem;
        }

        .galleryDescriptionViewButton {
            top: 0;
            margin-top: 13%;
            margin-left: 65%;
        }
    }

    .galleryScrollContainer {
        width: 80%;
    }
}

@media (max-width: global.$mobile) { 

    .galleryCardTitle {
        font-size: 35px;
        bottom: 95%;
    }

    .galleryCardContainer {
        height: 20%;
        width: 90%;
    }

    .galleryCardDescriptionContainer {
        width: 75%;
        height: 45%;

        padding: 5% 8% 5% 5%;

        .galleryCardDescriptionText {
            font-size: 10px;
            line-height: 1.2rem;
        }

        .galleryDescriptionViewButton {
            top: 0;
            margin-top: 15%;
            margin-left: 70%;
        }
    }

    .galleryScrollContainer {
        width: 90%;
    }
}