@use 'styles/global.scss';

.header {
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    padding: 21px 0;
    .space {
        flex: 1;
    }
}

.pageListItem {
    font-size: 18px;
    color: global.$secondary-color;
    margin: 0 8px;
}

.pcView {
    @include global.pcView;
    position: sticky;
    top: 0;
}
.tabletView {
    @include global.tabletView;
}

.mb14 {
    margin-bottom: 14px;
}

.right {
    border: 1px solid;
    background-color: darkblue;
    height: 36px;
    padding: 15px;
}

@media (max-width: global.$tablet) {
    .header {
        width: 95%;
    }
}