@use 'styles/global.scss';

.header {
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    padding: 21px 0;
    .space {
        flex: 1;
    }
}

.icon {
    display: block;
    position: absolute;
    cursor: pointer;
}

.pageListItem {
    font-size: 18px;
    color: global.$secondary-color;
    margin: 0 8px;
}

.pcView {
    @include global.pcView;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: transparent;
}

.tabletView {
    @include global.tabletView;
}

.mb14 {
    margin-bottom: 14px;
}

.right {
    background-color: darkblue;
    height: 36px;
    padding: 15px;
}

.drawerClosed {
    display: none;
}

.drawer {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 5%;
    width: 90%;
    height: 96vh;
    margin: 1vh auto;
    background: orange;
    z-index: 4;

    .linkContainer {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: global.$tablet) {
    .header {
        width: 95%;
    }
}